#heroSection {
    height: 800px;
    max-height: 90vh;
    margin-top: 75px;
    background-image: url(../../images/heroSection.2.png);
    background-size: cover;
    background-position: bottom center;
    border-bottom: 1px solid $mint;

    h1 {
        margin-left: 20vw;
        padding-top: calc(15vh - 75px);
        line-height: 1;
    }

    .button {
        margin-left: 20vw;
        border-radius: 25px;
        background-color: $yellow;
    }

    p {
        width: 500px;
        margin-left: 20vw;
        margin-top: 35px;
        font-size: $smallText;
    }

    @include tablet {
        background-image: url(../../images/heroSectionTablet.png);
    }

    @include phone {
        background-image: url(../../images/heroSectionPhone.png);

        h1 {
            color: $gunmetal;
        }

        p {
            width: 250px;
        }
    }
}