#portfolio,
#apps {
    padding: 50px 0;
    text-align: center;

    p {
        margin-bottom: 50px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 50px;

        .portfolioItem {
            border-radius: 20px;
            background-color: $green;

            img {
                width: 100%;
                max-width: 100%;
                border-radius: 20px 20px 0 0;
            }

            h3 {
                margin: 10px 0;
                padding: 0 50px;
                font-size: $mediumText;
            }

            p {
                margin-bottom: 15px;
                padding: 0 50px;
                font-size: $smallText;
            }

            .logoWrapper {
                width: 100%;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: auto;
                    height: 20px;
                    margin: 0 5px;
                    border-radius: 0;
                    object-fit: contain;
                }
            }

            a {
                display: block;
                width: 200px;
                margin: 20px auto;
                background-color: $yellow;
                color: $gunmetal;
            }
        }
    }

    @include tablet {
        .wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: 35px;

            .portfolioItem {
                h3 {
                    padding: 0 20px;
                }

                p {
                    margin-bottom: 20px;
                    padding: 0 20px;
                }
            }

            .comingSoon {
                display: none;
            }
        }
    }

    @include phone {
        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            gap: 25px;
        }
    }
}