#contact {
    width: $baseWidth;
    height: 600px;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    overflow: hidden;
    background-color: $burgundy;

    form {
        padding: 20px 30px;

        p {
            color: $gunmetal;
            margin-bottom: 35px;
        }

        .field {
            margin-bottom: 10px;

            label {
                display: block;
                margin-bottom: 1px;
            }

            input {
                height: 30px;
                width: 50%;
                border: none;
                color: $burgundy;
            }

            #requestField {
                height: 100px;
            }

            input[type=submit] {
                width: 50%;
                background-color: $gunmetal;
                font-size: $mediumText;
                font-weight: 600;
            }
        }
    }

    img {
        height: 400px;
        object-fit: contain;
    }

    @include tablet {
        form {
            .field {
                input {
                    width: 100%;
                }

                input[type=submit] {
                    width: 100%;
                }
            }
        }

        img {
            height: 300px;
        }
    }

    @include phone {
        height: 550px;

        form {
            grid-column: 1 / span 2;
        }

        img {
            display: none;
        }
    }
}