header {
    height: 800px;
    max-height: 90vh;
    background-image: url(../images/heroSection.png);
    background-position: bottom;
    border-bottom: 1px solid $mint;

    h1 {
        margin-left: 20vw;
        padding-top: 20vh;
        line-height: 1;
    }

    .button {
        margin-left: 20vw;
        border-radius: 25px;
        background-color: $yellow;
    }

    p {
        width: 500px;
        margin-left: 20vw;
        margin-top: 15px;
        font-size: $smallText;
    }
}