//page settings
$baseWidth: 80vw;

//typography
$font: 'Kumbh Sans';
$bigText: 5rem;
$mediumText: 1.5em;
$smallText: 1.2em;

//color palette
$gunmetal: #172a33;
$burgundy: #860d29;
$mint: #d8f3dc;
$yellow: #ec9a29;
$green: #04a777;

//responsive breakpoints
@mixin tablet {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 768px) {
        @content;
    }
}

//default styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $mint;
    font-family: $font;
}

body {
    background-color: $gunmetal;
}

.container {
    width: $baseWidth;
    margin: 0 auto;
}

h1 {
    font-size: $bigText;
}

h2 {
    font-size: $bigText;
    text-align: center;

    @include tablet {
        font-size: 3rem;
    }

    @include phone {
        font-size: 2rem;
    }
}

h3 {
    font-size: $mediumText;
    text-align: center;
}

p {
    font-size: $mediumText;

    @include phone {
        font-size: $smallText;
    }
}

a {
    height: 35px;
    padding: 0 10px;
    border-radius: 25px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    font-size: $smallText;
}