* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #712F79;
}

.game-wrapper {
    width: 50%;
    height: 500px;
    max-width: 500px;
    min-width: fit-content;
    font-size: 5em;
}

.game-container {
    width: 100%;
    height: 300px;
    padding: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #48639C;
}

.input-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#problems {
    margin-bottom: 15px;
}

.button-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}

.filter-wrapper {
    display: flex;
    align-items: center;
}

.range-wrapper {
    display: flex;
}

.range-wrapper label {
    flex-grow: 1;
    text-align: center;
}

#feedback-container {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    border-top: 0px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4C4C9D;
    font-size: 20pt;
}


@media (max-width: 1200px) {
    .game-wrapper {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .game-wrapper {
        width: 100%;
    }
}